/* @override http://brendanjerwin.github.com/css/screen.css */

/*****************************************************************************/

div#cse-search-results {
	text-align: center;
	width: 100%;
}

div#search {
	float: right;
	top: -46px;
	position: relative;
}
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
	color: #a00;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: black;
	font-weight: bold;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
	width: 85%;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #101b37;
    text-decoration: none;
	font-weight: bold;
	font-size: large;
	letter-spacing: 2px;
	text-transform: capitalize;
}

a.post_link {
	text-transform: capitalize;
}

span.post_date {
	
}

h1#post_title {
	text-transform: capitalize;
}

#post div.js-kit-rating {
	padding: 0;
	margin-top: -31px;
	margin-bottom: -19px;
}
  
  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }
  
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }
  
    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }
    
      .site .footer .contact a {
        color: #8085C1;
      }
    
    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }
    
      .site .footer .rss img {
        border: 0;
      }
    
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
	background: url(http://en.gravatar.com/userimage/3394211/ec20c9c27a627f8c189a37e336c3ec42.png) no-repeat scroll right top;
}

span.post_topic{
	font: small mono, Courier, "Courier New";
	color: #aaa;
	margin-left: 5px;
	text-transform: lowercase;
}

  /* standard */
  
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }