<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta name="verify-v1" content="real2b/rvvyJ8EJn2mkjS1tzyURNvCCc60j2JhySA7w=" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Brendan Erwin" />
   <link href="http://feeds2.feedburner.com/brendanjerwin_github_com" rel="alternate" title="Brendan Erwin's Feed" type="application/rss+xml" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="site">
  <div class="title">
    <a href="/">Brendan Erwin</a>
  </div>
  <div id="search">
	<form action="search_results.html" id="cse-search-box">
	  <div>
	    <input type="hidden" name="cx" value="004143573198892827374:-8g3lfbk2mm" />
	    <input type="hidden" name="cof" value="FORID:9" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" name="q" size="31" />
	    <input type="submit" name="sa" value="Search" />
	  </div>
	</form>
	<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
  </div>
  {{ content }}
  <div class="footer">
    <div class="contact">
      <p>
        Brendan Erwin<br />
        <a href="mailto:brendanjerwin@gmail.com">brendanjerwin@gmail.com</a>
      </p>
    </div>
	<div id="feeds">
		<a href="http://feeds2.feedburner.com/brendanjerwin_github_com"><img src="images/feed-icon.gif" alt="Subscribe..." border="0" /></a>
		<a href="http://fusion.google.com/add?feedurl=http://feeds2.feedburner.com/brendanjerwin_github_com"><img src="http://gmodules.com/ig/images/plus_google.gif" alt="Google Reader or Homepage" border="0" /></a>
		<a href="http://www.bloglines.com/sub/http://feeds2.feedburner.com/brendanjerwin_github_com"><img src="http://www.bloglines.com/images/sub_modern9.gif" alt="Subscribe with Bloglines" border="0" /></a>
		<a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=http://feeds2.feedburner.com/brendanjerwin_github_com"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" border="0" /></a> 
		<a href="http://technorati.com/faves?add=http://brendanjerwin.github.com"><img src="http://static.technorati.com/pix/fave/tech-fav-5.gif" alt="Add to Technorati Favorites!" border="0" /></a>
	</div>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7681812-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>